
{% extends 'bootstrap/base.html' %}

body {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h4, h5, h6, h7 {
font-weight: normal;
}


.navbar {
padding-right: 10rem;
padding-left: 5rem;
}

.toplinks {
padding-right: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1060px;
  margin: 0 auto;
  padding: 2rem 1rem;
}


.columns {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}
